/* stili generali */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.bottone{
    background-color: blue;
    color: white;
    padding: 5px;
}

.piccola{
    width: 30%;
}

.grande{
    width: 70%;
}

/* caratteristiche header */
/* caratteristiche nav */

.flex-box{
    display: flex;
}

nav{
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    padding: 15px 0;
    align-items: center;
}


.items-nav a{
   margin: 0 8px;
}

.items-nav img{
    width: 100px;
}

/* caratteristiche dropbox */

.dropbox{
    width: 70%;
    margin: auto;
}

.sfondo-colorato{
    padding-top: 60px;
    background-color: lightskyblue;
}

.dropbox h1{
    padding: 30px 0;
}

.dropbox .bottone{
    margin: 20px 0;
    display: inline-block;
}

.piccola i{
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

.grande img{
    width: 100%;
}

/* fine header */
/* inizio main */

#scelte{
    margin: 40px 0;
}

/* caratteristiche items main */
.items-main{
    width: 60%;
    margin:60px auto;
    
}

/* caratteristiche  sottoitems sez1 */

.sez1{
    justify-content: space-between;
}

.specifico{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px 0px;
}

.sez1>.sotto-items-sez1{
    width: 32%;
    border: 1px solid black;
    justify-content: space-between;
}

.descrizione {
    padding: 15px;
}

.sotto-items-sez1 li{
   list-style: none;
    margin: 12px 0;
}

.separino{
    width: 30px;
    border: 1px solid lightslategray;
}

.descrizione>div{
    margin: 30px 0;
}

/* caratteristiche specifiche anomalo */
.sotto-items-anomalo{
    border: 1px solid black;
    margin-top: 20px;
}
.anomalo{
    padding: 15px;
}

.anomalo .grande>strong{
    margin: 10px 0;
    display: inline-block;
}

/* parte 2 */

.sez2>.piccola{
    padding: 30px 20px;
}

.sez2 a{
    padding: 5px;
    border: 1px solid black;
    margin-top: 20px;
    display: inline-block;
}

/* parte 3 main */

.sotto-items{
    width: calc(100% / 3);
    padding: 0px 10px;
    margin: 20px 0;
}

.sotto-items img{
    width: 100%;
}

.parte-superiore{
    margin-bottom: 20px;
}

.parte-inferiore h2{
    margin-bottom: 40px;
}

/* parte 4 main  */

.sez4{
    height: 300px;
}

.sinistra, .destra{
    flex-basis: 300px;
    flex-wrap: wrap;
    /* debug */
    background-color: aqua;
}

.centro{
    flex-basis: calc(100% - 400px);
    background-color: beige;
    padding: 30px;
    overflow-y: auto;
}

.centro img{
    width: 200px;
}

.contenitore-immagine{
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
}

.contenitore-immagine img{
    width: 100%;
}

/* fondo sezione 4 */
.fondo{
    width: 60%;
    margin: auto;
   padding: 60px 0;
}
.colorato{
    background-color: lightskyblue;
}

.colorato a{
    width: 240px;
    padding: 3px 0px ;
    display: inline-block;
    background-color: white;
    text-align: center;
}

/* parte 5 */

.sez5>div{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.domande{
    justify-content: space-between;
}

.sez5 h2{
    margin-bottom: 40px;
}

/* fine main */
/* inizio footer */


footer{
    background-color: black;
    padding: 50px 0px;
}

.contatti{
    margin:auto;
    width: 70%;
}

.contatti a{
    color: white;
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
}


.flex-box>ul{
    flex-basis: calc(100% / 5);
    list-style: none;
}

.sbiadito a{
    color: rgba(255, 255, 255, 0.457);
}

.barra{
    border: 1px solid white;
    width: 200px;
    margin: 40px 0;
}