/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex-items{
    display: flex;
}

body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}


.sbiadito{
    color:  rgba(255, 255, 255, 0.415);
}

h1 , h2 ,h3 {
    font-family: 'Cabin', sans-serif;
}
/* stili header */

header{
    padding-top: 50px;
    text-align: center;
}

/* caratteristiche items dentro header */
.contenitore{
    width: 60%;
    margin: auto;
}

.contenitore h1{
    padding: 0 150px;
    transform: scale(1.3);
}

.contenitore p{
    padding: 20px 0;
}

.bottone{
    line-height: 50px;
    vertical-align: middle;
    height: 50px;
    width: 100px;
    display: inline-block;
    background-color: blue;
    text-decoration: none;
    color: black;

}

/* stili main */
h2{
    text-align: center;
    padding: 30px 0;
    transform: scale(1.3);
}

main>section{
    padding: 40px 20px;
}

/* sezione 1 main */

.utilità>div{
    width: calc(100% / 4 - 40px);
    margin: 20px;
}

.utilità h3{
    margin: 20px 0;
}

.utilità img{
    width: 50%;
}

/* seconda sezione main */

.utilizzo>div{
    width: calc(100% / 2 - 40px);
    margin: 20px;
}

.utilizzo img{
    width: 100%;
    display: block;
}

/* carateristiche utilizzo items */

.utilizzo-items{
    padding: 30px;
    background-color: #2f2c2c;
}

.utilizzo-items p{
    margin: 20px 0;
}

.bottone-utilizzo{
    padding: 10px 15px;
    background-color: blue;
    color: black;
    display: inline-block;
    text-decoration: none;
}

/* terza sezione main */
.esperienze{
    background-color: #2f2c2c;
}
/* caratteristiche items esperienze  */
.items-esperienze>div{
     width: calc(100% / 2 - 40px);
     margin: 20px;
}

.esperienze-immagine img{
    width: 100%;
    padding: 30px;
}

.esperienze-descrizione>p{
    font-size: 30px;
    margin-top: 50px;
}

 .esperienze-descrizione a{
    color: white;
    margin: 30px 0;
    display: inline-block;
}

/* caratteristiche esperienze cambio */
.esperienze-cambio{
    font-size: 30px;
    text-align: center;
}
/* footer */
footer{
    padding: 80px 30px;
}

/* caratteristiche items dentro footer */
footer ul{
    width: calc(100% / 5 );
    margin-bottom: 30px;
    list-style: none;
}

footer li{
    margin-bottom: 10px;
}
  
footer li:nth-child(1){
      font-size: 20px;
}

.icone i{ 
    margin-right: 10px;
    font-size: 30px;
}

.separino{
    width: 200px;
    margin: 30px 0;
    border: 1px solid;
}

