/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex-items{
    display: flex;
}

body{
    background-color: black;
    color: white;
}
/* stili header */

header{
    padding-top: 50px;
}

/* caratteristiche items dentro header */
header h1{
    padding: 0 150px;
}

header p{
    padding: 20px 0;
    color: white;
}

.contenitore{
    width: 60%;
    margin: auto;
    text-align: center;
}

.bottone{
    line-height: 50px;
    vertical-align: middle;
    height: 50px;
    width: 100px;
    display: inline-block;
    background-color: blue;
    text-decoration: none;
    color: black;

}


/* stili main */
h2{
    text-align: center;
}

main>section{
    padding: 20px;
}
/* sezione 1 */

.utilità>div{
    width: calc(100% / 4 - 40px);
    margin: 20px;
}

.utilità img{
    width: 50%;
}

/* seconda parte main */

.utilizzo>div{
    width: calc(100% / 2 - 40px);
    margin: 20px;
    /* debug */
    background-color: blue;
    height: 200px;
}

/* terza parte main */

.esperienze>div{
        width: calc(100% / 2 - 40px);
        margin: 20px;
        /* debug */
        background-color: blue;
        height: 200px;
}

/* footer */
footer ul{
    width: calc(100% / 5 - 40px);
    margin: 20px;
    /* debug */
    background-color: blue;
}

footer{
    padding: 0 20px;
}